.background_img{
    background-image: url('main2_2.jpg');
    height: 580px;
    width: 0,auto;
    opacity: 0.5;
}
.search_box {
    border:1px solid #688C45;
    position:relative;
    max-width:500px;
    margin:0 auto;
    top: -400px;
    border-radius: 8px;
}
.search_txt {
    /* border: 3px solid #688C45;
    margin-top: 200px;
    margin-left: 400px;
    height: 90px;
    width: 750px;
    border-radius: 8px;
    outline: none;
    opacity: 0.7; */
    outline:0;
    border:0;
    display:block;
    width:100%;
    padding:30px;
    padding-right:60px;
    box-sizing:border-box;
    font-size:1rem;
    opacity: 0.7;
    border-radius: 8px;
}
.input.search_btn {
    position:absolute;
    top:50%;
    right:20px;
    transform:translateY(-50%);
    height: 32px;
    width: 32px;
    border: 1px solid #688C45;
    border-radius: 15px;
    background-color: #688C45;
    
}
.trash{
    padding: 5px 10px;
    padding-top: 100px;
    padding-right: 45px;
	text-align: center;
    color: rgb(8, 92, 8);
}