
        * { box-sizing: border-box; margin: 0; padding: 0; }
        .header {
            background-color: #377245;
            color: black;
            height: 42px;
            border-bottom: 1px solid #377245;
        }
        .search {
            position: absolute;
            left: 50px;
            right: 50px;
        }
        .searchbar {
            border: 1px solid #377245;
            background-color: #afddba;
            width: 100%;
            border-radius: 4px;
            padding: 6px; margin-top: 7px;
            color:#ffffff;
        }

        .container {
            background-color: black;
        }
    
    
        .feed {
            background-color: #ffffff;
            border-top: 1px solid #c0c0c0;
            border-bottom: 1px solid #c0c0c0;
            margin: 7px 0;
            padding: 12px;
        }
        .date {
            color: #999;
            margin-bottom: 10px;
        }
        .title {
            color: black;
            font-weight: 600;
        }
        .content {
            margin-top: 5px;
        }
