body{
    background: white;
}
img{
    margin-left: 450px;
    width: 5%;
    height: 5%;
}
.window {
	display: inline-block;
	width:365px;
    height: 30px;
    border: 3px solid #0d0e0d;
    border-radius: 30px;
}
.input_text { 
	border: 0;
    text-align: center;
    margin-top: 5px;
    margin-left: 30px;
	font-size: 16px;
}
.sch_smit{
   height: 35px;
}
.nav_items {
    background-color: #5acf2c;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border-top: 1px solid #5acf2c;
    margin-top: 30px;
 }
.nav_items ul > li {
    display: inline-block;
    margin-left: 200px;
  }
  .nav_items ul > li:nth-child(-n + 7) > a { /* <ul>하위 7번째 <li>까지 각각 내부의 <a> 태그 접근 */
    color: #eff1f0;
  }
