.search_txt {
  font-family: 'Gowun Batang', serif;
    outline:0;
    border:0;
    display:block;
    width:100%;
    padding:30px;
    padding-right:50px;
    padding-left: 80px;
    box-sizing:border-box;
    font-size:1rem;
    opacity: 0.7;
    border-radius: 8px;
}
.search_btn {
  margin-left: 550px;
  margin-bottom: 20px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: #fff;
}
.background_img{
  height: 580px;
  width: 100%;
  opacity: 0.5;
}
.background_img {
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
}
.ssam {
  
  position: absolute;
  margin-top: 50px;
  margin-left: 300px;
  left: 30px;
}
@media screen and (max-width:768px) {
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .nav_items{
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    font-size: 1rem;
  }
  .nav_items li{
    width: 100%;
    text-align: center;
  }
  .search_txt{
    width: 100px;
  }
}