.search_txt {
    font-family: 'Gowun Batang', serif;
    display:block;
    width: 450px;
    height: 70px;
    margin-left: 550px;
    margin-top: 95px;
    box-sizing:border-box;
    font-size:1rem;
    opacity: 0.7;
    border-radius: 8px;
  }
  .search_btn {
    margin-left: 550px;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #fff;
  }
  .background_img{
    height: 580px;
    width: 100%;
    opacity: 0.5;
  }
  .background_img {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
  }
  .ssam {
    position: absolute;
    margin-top: 50px;
    margin-left: 300px;
    left: 30px;
  }