* {
    margin: 0;
    padding: 0;
}
.left {
    border: 0.01rem solid rgb(172, 172, 172);
    flex: auto;
    float: left;
    background-color: #fff;
    width: 310px;
    height: auto;
    border-radius: 38px 0 38px 0;
    opacity: 0.9;
    margin-left: 3rem;
    margin-top: 3rem;
}
.left>p,h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    word-break:keep-all;
}
.left>:nth-child(4) {
    font-weight: bolder;
    color: #969761;
}
.right {
    margin-top: 2.5rem;
    float: right;
    width: 70%;
    height: auto;
}
.click_btn1 {
    top: 2.6rem;
    left: -9.3rem;
    background-color: #377245;
}
#click_btn2 {
    top: -26.2rem;
    left: 23rem;
    background-color: #F4C31E;
}
#click_btn3 {
    background-color: #DA6A3A;
    top: -39.4rem;
    left: 23rem;
}
.click_btn1, #click_btn2, #click_btn3 {
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #fff;
}
#click_message {
    top: -16rem;
    left: 28rem; 
    background-color: #377245;
}
#click_message2 {
    bottom: 29rem;
    left: 28rem;
    background-color: #F4C31E;
}
#click_message3 {
    bottom: 42rem;
    left: 28rem;
    background-color: #DA6A3A;
}
.right>div { /*click_message1,2,3....*/
    position: relative;
    text-align: center;    
    width: 300px;
    height: 60px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: 1.5s;
}
.earth_img {
    position: relative;
    right: 44%;
    bottom: 50%;
    height: 50px;
    width: 50px;
}
.card-title {
    color:#686868;
    font-weight: 550;
    font-size: medium;
}
.row {
    visibility: hidden;
}
.row2 {
    visibility: hidden;
}
.show_row2 {
    visibility: visible;
}
.show_row {
    visibility: visible;
}
/* Header */
main {
    padding-top: 60px;
}
header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 1rem;
    color: white;
    background-color: #377245;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_items >li {
    list-style: none;
    font-size: smaller;
    float: left;
    padding-right: 90px;
}
.nav_items>li>button {
    background-color: #377245;
    border: none;
    color: aliceblue;
}
.symbol_mark{
    padding-left: 10px;
    margin-bottom: 5px;
    width: 40px;
    height: 30px;
}
.nav_items >li>button:hover {
    /* box-shadow: 200px 0 0 0 rgba(0,0,0,0.25) inset,  */
    box-shadow: 200px 0 0 0  rgba(24, 220, 116, 0.25) inset;
    border-radius: 2px;
    transition: 0.7s;
}
.button_mark {
    background-color: #377245;
    color:aliceblue;
    border: none;
    height: 30px;
}

.RTT {
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 28px;
    margin-top: -3px;
    cursor: pointer;
}